<script>
  $(document).ready(function() {
    $("#ypluse").attr("src", "assets/ypluse.jpg");
    document.body.style.backgroundColor="white";
    $("a").css("color", "black");
    $("#footer").hide();
  });
</script>
<style type="text/css">
	#footer {
		display: none;
		opacity: 0;
	}
</style>
<div class="container">

	<h3 style="float:left">Team</h3>
	<div id="imageContainer">
		<img id="ypluse" title="The handsome man on the left is Yagil, and the one on the right is Edward">
		<div style="font-size:10px; color: gray">memchu too</div>
	</div>
	<br><br><br>
	<h4 style="font-size:30px;">Yagil Burowski + Edward Lando</h4>
	<br>
	<h4 style="font-size:15px;">SEAS 17', Wharton 14'</h4>
	<h4 style="font-size:15px;">University of Pennsylvania</h4>
</div>
