<html>
<head>
	<title></title>
	<style>
	#prov_profile a, #app_download a {
		color: white;
	}
	</style>
</head>
<body>
	<div id="prov_profile"><a href="https://dl.dropboxusercontent.com/u/57453707/Notice/Notice_Beta_March_17.mobileprovision">Prov Profile</a></div>
	<div id="app_download"><a href="itms-services://?action=download-manifest&url=https://dl.dropboxusercontent.com/u/57453707/Notice/Notice.plist">App</a></div>
</body>
</html>



