<html>
<head>
	<title></title>
	<style>
	#prov_profile a, #app_download a {
		color: white;
		font-size: 96px;
	}
	#prov_profile, #app_download {
		text-align: center;
		font-size: 36px;
		padding-left: 30px;
		width: 100%;
	}
	</style>
</head>
<body>
	<div id="prov_profile"> STEP ONE: <a href="https://dl.dropboxusercontent.com/u/57453707/Notice/Notice_Beta_March_17.mobileprovision">Prov Profile</a></div>
	<div id="app_download"> STEP TWO: <a href="itms-services://?action=download-manifest&url=https://dl.dropboxusercontent.com/u/57453707/Notice/Notice.plist">App</a></div>
</body>

<img src="assets/Notice.png" id="logo_img">
</html>



