<html>
<head>
	<title></title>

	<style>
	#prov_profile a, #app_download a {
		color: white;
		font-size: 96px;
	}
	#prov_profile, #app_download {
		text-align: center;
		font-size: 36px;
		padding-left: 30px;
		width: 100%;
	}
	</style>
</head>
<body>
	<!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
mixpanel.init("79f7ec885d6cf4499a36aaf541e56a52");</script><!-- end Mixpanel -->

	<div id="prov_profile"> STEP ONE: <a href="https://dl.dropboxusercontent.com/u/57453707/Notice/Notice_Beta_March_17.mobileprovision">Prov Profile</a></div>
	<div id="app_download"> STEP TWO: <a href="itms-services://?action=download-manifest&url=https://dl.dropboxusercontent.com/u/57453707/Notice/Notice.plist">App</a></div>

	<script type="text/javascript">
		
	</script>
</body>

<img src="assets/Notice.png" id="logo_img">
</html>



