<!--<h1>Notice</h1>
<p>You've been noticed</p> -->


<script>
  $(document).ready(function() {
    var randomIndex = Math.floor(Math.random()*13)+1;
    // console.log(randomIndex);
    $("#noticeFace").attr("src", "assets/noticeFaces/"+ randomIndex +".png");
    //$("#noticeLogo").attr("src", "assets/noticeLogo.png");
    $("#ypluse").attr("src", "assets/ypluse.jpg");
    
  });
</script>
<!--<img id="noticeLogo">-->
<div id="noticeLogo" align="center">notice</div>
<!-- <img id="noticeFace"> -->
<div id="tagLine" align="center">Share Anonymously <br/> With People <br/> Like <br/> You</div>
<!-- <div id="btnContainer">
	<input type="text" placeholder="ENTER PHONE #" id="phoneNumberInput"/> 
	<button id="textLinkBtn">GET DOWNLOAD LINK</button>
</div> -->
<center><a href="https://itunes.apple.com/us/app/notice-be-yourself-again/id829934488?ls=1&mt=8"><img src="assets/appstoreBadge.png"></a></center>
<!-- <h5>For any questions, email trynotice *at* gmail.com</h5> -->
<!-- 
<h2>For the Rails novice (i.e. my brother Yagil)</h2>
<ul>
	<li>HTML pages are in the static_pages folder</li>
	<li>Header and Footer are in the layouts folders</li>
	<li>CSS is in the custom.css file in the assets folder</li>
	<li>JS is in the custom.js file in the assets folder</li>
	<li>Include any external js libraries (like jquery and bootstrap) in the application.html file in the layouts folder</li>
</ul>
