<h1>Notice</h1>
<p>You've been noticed</p>

<%= image_tag("Notice.png") %>


<h2>For the Rails novice (i.e. my brother Yagil)</h2>
<ul>
	<li>HTML pages are in the static_pages folder</li>
	<li>Header and Footer are in the layouts folders</li>
	<li>CSS is in the custom.css file in the assets folder</li>
	<li>JS is in the custom.js file in the assets folder</li>
	<li>Include any external js libraries (like jquery and bootstrap) in the application.html file in the layouts folder</li>
</ul>
