<script>
  $(document).ready(function() {
    document.body.style.backgroundColor="white";
    $("a").css("color", "black");
    $("p").css("color", "black");
    $("h2").css("color", "black");
    $("#footer").hide();
  });
</script>

<div class="privacy">
<h2>
    Notice LLC Privacy Policy
</h2>
<p>
    Last revised: July 20, 2014
</p>
<p>
    Notice LLC (“Notice”) understands that your privacy is important and we are dedicated to protecting it. This Privacy Policy (“Policy”) applies to your use
    of the Notice application on all platforms (the “Application”). Unless otherwise defined in this Privacy Policy, capitalized terms used in this Privacy
    Policy have the same meanings as in our Terms of Use.
</p>
<p>
    Notice has created this Policy to explain our privacy practices so you will understand what information about you is collected, used and disclosed with
    respect to the Application.  By using the Application, you consent to this Policy. 
</p>
<p>
    We reserve the right, at our sole discretion, to change, modify or otherwise alter this Policy at any time. If we make material changes to this Policy, we
    will notify you by e-mail or an alert within the Application. If you do not agree to any modifications to this Policy, your sole recourse is to immediately
    stop all use of the Application. Your continued use of the Application following the posting of any modifications to this Policy will constitute your
    acceptance of the revised Policy. Should you have any questions regarding this Policy, please contact us at the email address listed at the end of this
    Policy.
</p>
<p>
    This Policy covers our collection, use and disclosure of your information through the Application only. It does not cover any collection, use or disclosure
    by third parties through any applications, websites, products or services that we do not control or own, such as Facebook, or any third party features or
    services made available via the Application.
</p>
<p>
    <strong>1. WHAT KIND OF INFORMATION WE COLLECT</strong>
</p>
<p>
    We collect information from and about Users of the Application:
</p>
<p>
    ·       Directly from you when you provide it to us.
</p>
<p>
    ·       Automatically when you use the Application.
</p>
<p>
    <strong><u>Information You Provide to Us</u></strong>
     
</p>
<p>
    When you register to use the Application, we may ask you to provide information by which you may be personally identified, such as your name and email
    address ("Personal Information").  We may also ask you to provide information that does not individually identify you, such as your educational institution
    affiliation.  In addition, we may request access to your Facebook contacts, your User Device contacts or other contacts information.
</p>
<p>
    You may also provide information to be published via the Application (“Content”). Your Content is posted and transmitted to others at your own risk. We
    cannot control the actions of third parties with whom you may choose to share your Content. Therefore, we cannot and do not guarantee that your Content
    will not be viewed by unauthorized persons.
</p>
<p>
    <strong><u>Information Collected Automatically</u></strong>
</p>
<p>
    When you download, access and use the Application, we may automatically collect the following types of data:
</p>
<ul>
    <li>
        <strong>Usage Details.</strong>
        When you access and use the Application, certain details of your access to and use of the Application may be collected, including traffic data,
        location data, logs and other communication data and the resources that you access and use on or through the Application.
    </li>
    <li>
        <strong>Device Information.</strong>
        We may collect information about your User Device and internet connection, including the User Device's unique device identifier, IP address, operating
        system and mobile network information.
    </li>
    <li>
        <strong>Stored Information and Files.</strong>
        The Application also may access metadata and other information associated with other files stored on your User Device. This may include, for example,
        photographs, audio and video clips, personal contacts and address book information.
    </li>
    <li>
        <strong>Location Information.</strong>
        The Application may collect real-time information about the location of your User Device.
    </li>
</ul>
<p>
    If you do not want us to collect this information, do not download the Application.
</p>
<p>
    <strong><u>Third-Party Information Collection</u></strong>
</p>
<p>
    When you use the Application, certain third parties may use automatic information collection technologies to collect information about you or your User
    Device. These third parties [-- e.the future without having to revise this policy.ng over-inclusive.cts information.on affilimay include:
</p>
<p>
    ·       Advertisers, ad networks and ad servers
</p>
<ul>
    <li>
        Analytics companies
    </li>
</ul>
<p>
    ·       Your mobile device manufacturer
</p>
<p>
    ·       Your mobile services provider
</p>
<p>
    These third parties may use tracking technologies to collect information about you when you use the Application. We do not control these third parties'
    tracking technologies or how they may be used. If you have any questions about an advertisement or other targeted content, you should contact the
    responsible provider directly.
</p>
<p>
    <strong>2. HOW WE USE YOUR INFORMATION</strong>
</p>
<p>
    We use information that we collect about you or that you provide to us, including any Personal Information, to:
</p>
<p>
    ·       Provide you with the Application, and any other information, products or services that you request from us or we think may be of interest to you
</p>
<ul>
    <li>
        Fulfill any other purpose for which you provide it
    </li>
    <li>
        Provide you with notices about your account with us
    </li>
</ul>
<p>
    ·       Carry out our obligations and enforce our rights under the Terms or arising from any contracts entered into between you and us
</p>
<p>
    ·       Notify you when Application updates are available, and of changes to any products or services we offer or provide though the Application
</p>
<p>
    The usage information we collect helps us to improve the Application and to deliver a better and more personalized experience by enabling us to:
</p>
<ul>
    <li>
        Estimate our audience size and usage patterns
    </li>
</ul>
<p>
    ·       Store information about your preferences, allowing us to customize the Application according to your individual interests
</p>
<ul>
    <li>
        Speed up your searches
    </li>
    <li>
        Recognize you when you use the Application
    </li>
</ul>
<p>
    We use location information we collect to provide you with a more customized User experience, such as allowing you to see Content posted by Users within
    your geographic area.
</p>
<p>
    <strong>3. HOW YOUR INFORMATION MAY BE DISCLOSED</strong>
</p>
<p>
    We may disclose aggregated information about Users, and information that does not identify any individual or User Device, without restriction.
</p>
<p>
    In addition, we may disclose Personal Information that we collect or you provide:
</p>
<ul>
    <li>
        To our subsidiaries and affiliates
    </li>
</ul>
<p>
    ·       To contractors, service providers and other third parties we use to support our business and who are bound by contractual obligations to keep your
    Personal Information confidential and to use it only for the purposes for which we disclose it to them
</p>
<p>
    ·       To a buyer or other successor in the event of a merger, divestiture, restructuring, reorganization, dissolution or other sale or transfer of some
    or all of Notice's assets, whether as a going concern or as part of bankruptcy, liquidation or similar proceeding, in which Personal Information held by
    Notice about our Users is among the assets transferred
</p>
<p>
    ·       To third parties to market their products or services to you if you consent to such disclosures
</p>
<ul>
    <li>
        To fulfill the purpose for which you provide it
    </li>
</ul>
<p>
    ·       For any other purpose disclosed by us when you provide the information
</p>
<ul>
    <li>
        With your consent
    </li>
</ul>
<p>
    ·       To comply with any court order, law or legal process, including to respond to any government or regulatory request
</p>
<ul>
    <li>
        To enforce our rights under the Terms
    </li>
</ul>
<p>
    ·       If we believe disclosure is necessary or appropriate to protect the rights, property, or safety of Notice, our customers or others
</p>
<p>
    <strong>4. CHOICES ABOUT YOUR PERSONAL INFORMATION</strong>
</p>
<p>
    <strong>Opting Out of Marketing-Related Communications.</strong>
    You may opt out from receiving marketing-related emails, texts, phone messages or other communications from us on a going-forward basis by contacting us at
    support@trynotice.com.
</p>
<p>
    We will try to comply with your opt-out request as soon as reasonably practicable. Please note that if you opt out as described above, this will apply to
    marketing messages from us only. We will not be able to remove your Personal Information from the database of any other Users with whom you have shared
    such information or from third parties to whom you have previously authorized us to share such information (i.e., to which we have already provided your
    Personal Information as of the date that we implement your opt-out request). Please also note that if you do opt-out of receiving marketing-related
    messages from us, we may still send you important administrative messages, and you cannot opt-out from receiving administrative messages.
</p>
<p>
    <strong>Accessing, Changing or Suppressing Your Personal Information.</strong>
    If you would like to review, correct, update, suppress, delete or otherwise limit our use of your Personal Information that has been previously provided to
    us, you may contact us at support@trynotice.com. In your request, please make clear what information you would like to have changed, whether you would like
    to have your Personal Information suppressed from our database or otherwise let us know what limitations you would like to put on our use of your Personal
    Information. We will try to comply with your request as soon as and to the extent reasonably practicable. Again, we cannot remove your Personal Information
    from the database of any other Users with whom you have shared such information or from third parties to whom you have previously authorized us to share
    such information.
</p>
<p>
    If you have questions about your Personal Information, please contact us at support@trynotice.com.
</p>
<p>
    <strong>5. SECURITY</strong>
</p>
<p>
    Notice is very concerned about safeguarding the confidentiality of your Personal Information. We employ administrative, physical and electronic measures
    designed to protect your information from unauthorized access and use. Please be aware that no security measures we take to protect your information are
    absolutely guaranteed to avoid unauthorized access to or use of your Personal Information or are impenetrable.
</p>
<p>
    <strong>6. RETENTION PERIOD</strong>
</p>
<p>
    We will retain your Personal Information for the period necessary to fulfill the purposes outlined in this Policy unless a longer retention period is
    required or allowed by law. Your Personal Information may or may not be encrypted while stored or archived by us.
</p>
<p>
    <strong>7. OUR POLICY TOWARD CHILDREN UNDER 13 YEARS OF AGE</strong>
</p>
<p>
    The Application is not directed to children under 13 years of age. If you become aware that your child under 13 has provided us with Personal Information
    without your consent, please contact us at support@trynotice.com. We do not knowingly collect Personal Information from children under 13. If we become
    aware that a child under 13 has provided us with Personal Information, we will take steps to remove such information and terminate the child's account. By
    using the Application, you are representing to us that you are not under the age of 13. If you are under 13 years of age, you are not authorized to use the
    Application and must immediately delete it from your User Devices. We recommend that minors who are 13 years old but under 18 years old ask their parents
    or legal guardians for permission before sending any information about themselves to us or anyone else, whether by using the Application or otherwise.
</p>
<p>
    <strong>8. CALIFORNIA RESIDENTS</strong>
</p>
<p>
    We do not disclose your Personal Information to third parties for the third parties' direct marketing purposes unless you first affirmatively agree to that
    disclosure.
</p>
<p>
    California Civil Code Section 1798.83 permits users who are California residents to request certain information regarding disclosure of Personal
    Information to third parties for their direct marketing purposes. If you would like more information with respect to your privacy rights under California
    law, you may contact us at the email address below. Please reference your request as “California Disclosure Information.”
</p>
<p>
    <strong>9. SENSITIVE INFORMATION</strong>
</p>
<p>
    We ask that you not send us, and you not disclose, any sensitive Personal Information (e.g., information related to racial or ethnic origin, political
    opinions, religion or other beliefs, health, sexual orientation, criminal background or membership in past organizations, including trade union
    memberships) on or through the Application or otherwise to us.
</p>
<p>
    <strong>10. CONTACTING US / REPORTING VIOLATIONS</strong>
</p>
<p>
    If you have any questions or comments about this Policy or our privacy practices, or to report any violations of the Terms or abuse of the Application,
    please contact us at support@trynotice.com.
</p>
</div>