<!-- <i>This is in the footer</i> -->

<div id="footer">
	<ul>
		
		<li><a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
		</li>
		<div id="rightOptions">
		<li><a href="terms">TERMS</a></li>
		<li><a href="privacy">PRIVACY</a></li>
		<li><a href="about">ABOUT</a></li> 
		<li><a href="jobs">JOBS</a></li>
		<li><a href="mailto:trynotice@gmail.com?subject=Hi">CONTACT</a></li>
		<li><a href="https://itunes.apple.com/us/app/notice-be-yourself-again/id829934488?ls=1&mt=8">DOWNLOAD</li>
		</div>
	</ul>
</div>