<!-- <i>This is in the footer</i> -->

<div id="footer">
	<ul>
		<li><a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
		</li>
		<li><a href="">ABOUT</a></li>
		<li><a href="">PRIVACY POLICY</a></li>
		<li><a href="">CONTACT</a></li>
	</ul>
</div>